{% extends "layout.html" %}

{% block page_title %}
  Ineligible
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <button class="link-back">Back</button>

      <h1 class="heading-large">
        You can submit a 'late' temporary event notice
      </h1>

      <details class="body-text">
        <summary><span class="summary">What is a late temporary event notice?</span></summary>
        <div class="panel panel-border-narrow">
          <p>Late notices can be given no later than 5 working days but no earlier than 9 working days before the event in relation to which the notice is given.  A late notice given later than 5 working days before the event to which it relates will be returned as void and the activities described in it will not be authorised.</p>
          <p>The number of late notices that can be given in any one calendar year is limited to 10 for personal licence holders and 2 for non-personal licence holders.  These count towards the total number of temporary event notices (i.e. 50 temporary event notices per year for personal licence holders and 5 temporary event notices for non-personal licence holders).</p>
          <p>If there is an objection from either the police or local authority exercising environmental health functions, the event will not go ahead and a counter notice will be issued.</p>
        </div>
      </details>

      <p>The event you’re holding is less than 10 working days in the future. You can submit a late temporary event notice.</p>

      <div class="form-group">
        <div class="form-group">
          <a href="/event-capacity" class="button">Continue</a>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
