{% extends "layout.html" %}

{% block page_title %}
  Contact details
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <button class="link-back">Back</button>

      <h1 class="heading-large">
        How else can we contact you?
      </h1>

      <form class="form" action="contact-pref" method="POST" novalidate>

        <div class="form-group">
          <label class="form-label form-label-bold" for="contact-email">Email address</label>
          <input class="form-control form-control-1-2" name="contact-email" type="email" id="contact-email" value="{{ data['contact-email'] }}">
        </div>

        <div class="form-group">
          <label class="form-label form-label-bold" for="contact-phone">Phone number</label>
          <input class="form-control form-control-1-2" name="contact-phone" type="tel" id="contact-phone" value="{{ data['contact-phone'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>

  </div>
</main>

{% endblock %}
