{% extends "layout.html" %}

{% block page_title %}
  When is your event
{% endblock %}

{% block after_header %}
  {% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <button class="link-back">Back</button>

      <h1 class="heading-large">
         When is your event?
      </h1>

      <form class="form" action="event-capacity" method="POST" novalidate>
        <div class="form-group" data-required="Please provide event start date">
          <fieldset>
            <legend>
              <label class="form-label-bold">Start date</label>
              <span class="form-hint">For example, 14/03/2018</span>
            </legend>
            <div class="form-control-1-4">
              <div id="event-start-date"></div>
            </div>
          </fieldset>
        </div>

        <div class="form-group" data-required="Please provide event end date">
          <fieldset>
            <legend>
              <label class="form-label-bold">End date</label>
              <span class="form-hint">For example, 16/03/2018</span>
            </legend>
            <div class="form-control-1-4">
              <div id="event-end-date"></div>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
          <!--<a href="check-your-answers?next=event-dates" class="view-summary">View summary</a>-->
        </div>

      </form>

    </div>
  </div>
</main>

<!-- Comment out below to disable hiding of arrows on date picker
To do: move to prototype-admin -->
<div id="remove-arrows-from-datepicker"></div>

<style>
.datepicker-no-arrows div[class^='bpk-calendar-nav__nudger'] button, .datepicker-no-arrows div[class*=' bpk-calendar-nav__nudger'] button {
    pointer-events: none;
    cursor: default;
}
.datepicker-no-arrows div[class^='bpk-calendar-nav__nudger'] button svg, .datepicker-no-arrows div[class*=' bpk-calendar-nav__nudger'] button svg {
  fill: #fff!important;
}
</style>

{% endblock %}
