{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Temporary Event Notice prototypes
        <span class="heading-secondary">Prototype kit version {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Prototypes of temporary event notice, used to help test new patterns.
      </p>

      <h2 class="heading-medium">Prototype links</h2>
      <ul class="list list-bullet">
        <li><a href="https://govuk-licencing-ten-v1.herokuapp.com/start-page">Version 1.0</a></li>
        <li><a href="start-page">Version 1.1 (latest)</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
