{% extends "layout.html" %}

{% block page_title %}
When will you be selling alcohol
{% endblock %}

{% block after_header %}
{% include "includes/timeout_modal.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <button class="link-back">Back</button>

      <h1 class="heading-large">
        When will you be selling alcohol?
      </h1>

      <form class="form" action="licensable-activity-members" method="POST" novalidate>

        <fieldset>
          <div class="grid-row cya-question">
            <div class="column-one-third no-padding">
              <h2 class="heading-medium">28 Dec 2017</h2>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide start time">
                <label class="form-label-bold" for="alcohol-start-time-1">Start time</label>
                <span class="form-hint">For example 11:00 AM</span>
                <input class="form-control" id="alcohol-start-time-1" name="alcohol-start-time-1" type="text" value="{{ data['alcohol-start-time-1'] }}" autocomplete="off">
              </div>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide end time">
                <label class="form-label-bold" for="alcohol-end-time-1">End time</label>
                <span class="form-hint">For example 10:00 PM</span>
                <input class="form-control" id="alcohol-end-time-1" name="alcohol-end-time-1" type="text" value="{{ data['alcohol-end-time-1'] }}" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>

        <hr style="margin-top:15px"/>

        <fieldset>
          <div class="grid-row cya-question">
            <div class="column-one-third no-padding">
              <h2 class="heading-medium">29 Dec 2017</h2>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide start time">
                <label class="form-label-bold" for="alcohol-start-time-2">Start time</label>
                <span class="form-hint">For example 11:00 AM</span>
                <input class="form-control" id="alcohol-start-time-2" name="alcohol-start-time-2" type="text" value="{{ data['alcohol-start-time-2'] }}" autocomplete="off">
              </div>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide end time">
                <label class="form-label-bold" for="alcohol-end-time-2">End time</label>
                <span class="form-hint">For example 10:00 PM</span>
                <input class="form-control" id="alcohol-end-time-2" name="alcohol-end-time-2" type="text" value="{{ data['alcohol-end-time-2'] }}" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>

        <hr style="margin-top:15px"/>

        <fieldset>
          <div class="grid-row cya-question">
            <div class="column-one-third no-padding">
              <h2 class="heading-medium">30 Dec 2017</h2>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide start time">
                <label class="form-label-bold" for="alcohol-start-time-3">Start time</label>
                <span class="form-hint">For example 11:00 AM</span>
                <input class="form-control" id="alcohol-start-time-3" name="alcohol-start-time-3" type="text" value="{{ data['alcohol-start-time-3'] }}" autocomplete="off">
              </div>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group" data-required="Please provide end time">
                <label class="form-label-bold" for="alcohol-end-time-3">End time</label>
                <span class="form-hint">For example 10:00 PM</span>
                <input class="form-control" id="alcohol-end-time-3" name="alcohol-end-time-3" type="text" value="{{ data['alcohol-end-time-3'] }}" autocomplete="off">
              </div>
            </div>
          </div>
        </fieldset>

        <hr style="margin-top:15px"/>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
          <a href="check-your-answers?next=event-dates" class="view-summary">View summary</a>
        </div>
      </form>
    </div>

  </div>
</main>

{% endblock %}
