{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="#">Business and self-employed</a></li>
      <li><a href="#">Licences and licence applications</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Submit a temporary event notice (TEN) if you want to carry out a ‘licensable activity’ on unlicensed premises in England or Wales.</p>

      <p>Licensable activity includes:</p>

      <ul class="list list-bullet">
        <li>selling alcohol</li>
        <li>serving alcohol to members of a private club</li>
        <li>providing entertainment, such as music, dancing or indoor sporting events</li>
        <li>serving hot food or drink between 11pm and 5am</li>
      </uL>

      <p>You will also need a TEN if a particular licensable activity is not included in the terms of your existing licence, for example holding a wedding reception at a community centre.</p>
      <p>You must apply at least 10 clear working days before your event.</p>
      <p>Applying takes around 5 minutes and costs £21. You need to be at least 18 years old to apply.</p>

      <p>
        <a class="button button-start" href="event-dates" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>
      <p>To be eligible for a TEN, your event needs to:</p>
      <ul class="list list-bullet">
        <li>have fewer than 500 people attending at all times, including staff running the event</li>
        <li>last no more than 168 hours (7 days)</li>
      </ul>
      <p>There are limits to the number of TENs you can apply for in a year and for the same premises.</p>
      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You could be fined if you make any false statements in your application, or face prosecution if you breach the terms of the notice.
        </strong>
      </div>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Elsewhere on GOV.UK</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Apply to hold a street party</a></li>
            <li><a href="#">Contact the police</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in licences and licence applications</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>


</main>

{% endblock %}
